.d-header {
  height: 2.25em;
  margin-bottom: 0;
  padding-top: 0;

  .d-icon-home {
    font-size: 2em;
  }

  #site-logo {
    max-height: 1.85em;
  }

  .icon img.avatar {
    width: 2em;
    height: 2em;
  }

  .categories-wrapper,
  .topic-header-participants,
  .topic-header-extra .discourse-tags {
    display: none;
  }

  .header-title {
    margin: 0;
    font-size: $font-up-1;
  }

  .badge-notification {
    top: 5px;
    font-size: $font-down-2;
  }

  .header-buttons {
    margin-top: 0;
  }

  .mobile-view & .title {
    min-width: auto;
  }
}

#main-outlet {
  padding-top: 5em;
}
